<div class="row">
		<div class="col col-lg-12">
			<div class="editor-control text-editing">
				<ul>
					<li data-action="Bold">B</li>
					<li data-action="Italic">I</li>
					<li data-action="Underline">U</li>
					<li data-action="Strong">Strong</li>
					<li data-action="Strike">Strike</li>
					<li data-action="Mark">Mark</li>
					<li data-action="Em">EM</li>
					<li data-action="Link">A</li>
					<li data-action="Quote">q(&#8220; &#8221;)</li>
					<li data-action="UL">UL</li>
					<li data-action="OL">OL</li>
					<li data-action="LI">LI</li>
					<li data-action="KBD">KBD</li>
					<li data-action="lbl_def">LblDef</li>
					<li data-action="lbl_prim">LblPrim</li>
					<li data-action="lbl_succ">LblSuc</li>
					<li data-action="lbl_info">LblInfo</li>
					<li data-action="lbl_warn">LblWarn</li>
					<li data-action="lbl_dan">LDan</li>
					<li data-action="badge">Badge</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-4">
			<div class="editor-control headers">
				<ul>
				<li data-action="H1">H1</li>
				<li data-action="H2">H2</li>
				<li data-action="H3">H3</li>
				<li data-action="H4">H4</li>
				<li data-action="H5">H5</li>
				<li data-action="H6">H6</li>
				</ul>
			</div>
		</div>

		<div class="col col-lg-6">
			<div class="editor-control dom-elements">
				<ul>
					<li data-action="Span">Span</li>
					<li data-action="Div">Div</li>
					<li data-action="Paragraph">P</li>
					<li data-action="Pre">Pre</li>
					<li data-action="Pre.modified">Modified-Pre</li>
					<li data-action="Block-Quote">BlockQuote</li>
				</ul>
			</div>
		</div>

	</div>	
	<div class="row">
		<div class="col col-lg-12">
			<div class="editor-control java-code">
				<ul>
					<li data-action="Java-Code">Java-Code</li>
					<li data-action="Java-Keywords">keywords</li>
					<li data-action="Java-Comments">comments</li>
					<li data-action="Java-Methods">methods</li>
					<li data-action="Java-Class">classNames</li>
					<li data-action="Java-Literals">literals</li>
					<li data-action="Java-Identifiers">identifiers</li>
					<li data-action="Java-Objects">objects</li>
					<li data-action="Java-Annotations">annotations</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-12">
			<div class="editor-control sass-code">
				<ul>
					<li data-action="SASS-Code">SASS-Code</li>
					<li data-action="SASS-Class">class</li>
					<li data-action="SASS-Directives">directives</li>
					<li data-action="SASS-IdSelector">idSelector</li>
					<li data-action="SASS-Styles">styles</li>
					<li data-action="SASS-Color-Literals">color-literals</li>
					<li data-action="SASS-Color-Code">color-code</li>
					<li data-action="SASS-Comments">comments</li>
					<li data-action="SASS-Variables">variables</li>
					<li data-action="SASS-List">List</li>
					<li data-action="SASS-Map">Map</li>
					<li data-action="SASS-Literals">Literals</li>
					<li data-action="SASS-Html-Tag">Html-Tag</li>
				</ul>				
			</div>
		</div>
	</div>

<div class="row">
	<div class="col col-lg-6">
            
            <div class="form-group">
                    <div  class="editor-textarea">
                        <form:textarea id="editor_textarea" cssClass="form-control editor_textarea" rows="20" cols="100" path="postContent" ></form:textarea>
                    </div>
            </div>
            
		<!--div  class="editor-textarea">
			<textarea name="editor_textarea" id="editor_textarea" class="editor_textarea" rows="20" cols="100"></textarea>
		</div-->
	</div>
	<div class="previewBtn">
            <button type="button" class="btn btn-success" id="previewBtn">&rArr;</button>
	</div>
	<div class="col col-lg-5 textarea_preview" id="textarea_preview" >	
	 </div>
</div>
