<!-- Footer -->
        <footer class="footer">
            <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2015 <a href="http://www.anandanurag.com" title="Website Name">anandanurag.com</a> </p>
                </div>
            </div>
            <!-- /.row -->
            </div><!-- container -->
        </footer>